
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
    min-height: 100%;
    overflow-x: hidden;
}

html{
    position: relative;
}

body{
    background-color: $darkgray;
    color: $white;
    padding-bottom: 100px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.notification .alert:first-child{
    margin-top: 1rem;
}

footer{
    background-color: $lightpurple;
    color: $white;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;

    .owner, .copyright{
        padding: 2rem;
    }
}
