
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body{
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: snow;
    display: table;
    font-weight: 100;
    font-family: 'Nunito';
    font-size: 16px;
    background-color: black;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 5rem;
    margin-bottom: 40px;
}

.message{
    margin: auto;
    padding: 0 1em;
}

.earth{
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 1em;
}

@media only screen and (min-width: 768px) {
    .message{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .message{
        width: 50%;
    }
}
